.wrapper {
	width: 100%;
	margin: 0 auto;
}

#header {
	.top {
		display: none;
	}
}

#twitter {
	width: 100%;
	iframe {
		width: 100%;
	}
}

.news {
	margin-bottom: 3em;
	time {
		position: absolute;
	}
}

@media (max-width: 640px) {
	#logo {
		text-align: center;
	}
	#menu {
		li {
			width: 45%;
			text-align: center;
		}
	}
	#banner {
		.left {
			padding: 0 1em;
			span {
				font-size: 1.5em;
				height: 3.5em;
			}
		}
		.right {
			padding: 0 1em;
		}
		.title {
			text-indent: 5em;
			position: absolute;
			top: -.8em;
			padding: 0 1em;
		}
	}
	#content section h2 {
		text-align: center;
	}
	.news {
		.title {
			padding-top: 1em;
			padding-left: 80px;
		}
	}
	#footer {
		padding-bottom: 240px;
		p {
			text-indent: .5em;
		}
		.maintainer {
			white-space: nowrap;
			text-indent: 2em;
		}
		.archive {
			clear: both;
			text-align: right;
			padding-right: 1em;
			margin: 2em 0;
		}
		iframe {
			width: 100%;
		}
	}
	.sponsor {
		margin-bottom: 2em;
		img {
			margin: 0 auto;
		}
		h4 {
			text-align: center;
		}
	}
	#sponsor {
		ul {
			text-align: center;
			li {
				margin: .5em 0;
				width: 100%;
			}
		}
	}
}

@media (min-width: 641px) {
	.wrapper {
		width: 600px;
	}
	#menu {
		display: flex;
	}
	#banner {
		font-size: 18px;
		.left {
			span {
				font-size: 144px;
				margin-left: -10px;
				margin-bottom: -30px;
			}
		}
		.right {
			text-align: right;
		}
		.title {
			font-size: 40px;
		}
	}
	.news {
		position: relative;
		padding-left: 80px;
		h3 {
			padding-top: 25px;
		}
		time {
			left: -5px;
		}
	}
	#footer {
		padding-bottom: 120px;
		.wrapper {
			padding: 0 1em;
		}
		.archive {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	#sponsors {
		li {
			display: flex;
		}
	}
	.sponsor {
		article {
			padding-left: 2em;
		}
	}
	#sponsor {
		ul {
			li {
				margin: .5em;
			}
		}
	}
}

@media (min-width: 1000px) {
	.wrapper {
		width: 960px;
	}
	#header {
		height: 66px;
		.top {
			display: block;
		}
	}
	#logo {
		position: absolute;
	}
	#menu {
		margin-left: 115px;
		li {
			padding: 0 .8em;
		}
	}
	#banner {
		height: 400px;
		.right {
			position: absolute;
			top: 100px;
			right: 0;
		}
		.title {
			position: absolute;
			bottom: 0;
		}
	}
	#content {
		.wrapper:first-child {
			display: flex;
		}
	}
	section#news {
		width: 50%;
		padding-right: 1em;
	}
	#twitter {
		width: 50%;
		margin-top: -100px;
	}
	#footer {
		padding-bottom: 0;
	}
}
