@import 'color';
@import 'layout';

body {
	background-color: $page-background-color;
	color: $page-text-color;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

#header {
	background-color: $header-background-color;
	height: 66px;
	padding-top: 16px;
	.wrapper {
		position: relative;
	}
	.top {
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -75px;
	}
}

#logo {
	margin: 0;
	position: absolute;
	width: 130px;
	a {
		display: block;
		height: 50px;
		background-image: image-url('logo.svg');
		text-indent: 100%;
		overflow: hidden;
	}
}

#menu {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		text-transform: uppercase;
		line-height: 50px;
		padding: 0 .8em;
		font-size: 1.5em;
		vertical-align: -30px;
	}
	li.disable {
		visibility: hidden;
	}
	li:nth-of-type(2) {
		margin-right: 50px;
	}
}

#banner {
	height: 400px;
	position: relative;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	.left {
		span {
			display: block;
			margin-left: -10px;
			margin-bottom: -30px;
			font-size: 144px;
		}
	}
	.right {
		position: absolute;
		top: 100px;
		right: 0;
		text-align: right;
		color: #8e8e8e;
		span {
			color: #fff;
		}
	}
	.title {
		position: absolute;
		font-size: 40px;
		bottom: 0;
		line-height: 1.5em;
	}
	.red {
		color: #eb5448;
	}
	.green {
		color: #9c3;
	}
	.blue {
		color: #3f80ef;
	}
}

#content {
	padding: 1em;
	.wrapper:first-child {
		display: flex;
	}
	p {
		line-height: 1.5em;
	}
	section h2 {
		text-transform: uppercase;
	}
}

article p a {
	border-bottom: 1px dashed;
}

#news, .news {
	time {
		display: block;
		background-color: #757575;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		text-align: center;
		line-height: 70px;
		position: absolute;
		left: -5px;
	}
}

#news {
	width: 50%;
	padding-right: 1em;
}

.news {
	position: relative;
	padding-left: 80px;
	h3 {
		font-weight: bold;
		padding-top: 25px;
	}
	p {
		font-weight: 300;
	}
}

#twitter {
	width: 50%;
	margin-top: -100px;
}

#sponsor {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			margin: 0 .5em;
			img {
				vertical-align: top;
			}
		}
	}
}

#footer {
	padding-top: .5em;
	background-color: $header-background-color;
	background-image: image-url('bottom.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 400px;
	.wrapper {
		position: relative;
	}
	.maintainer {
		&::before {
			display: inline;
			content: '‧';
			color: #8e8e8e;
		}
		a {
			text-decoration: underline;
		}
	}
	.archive {
		position: absolute;
		right: 0;
		top: 0;
		margin: 0;
		padding: 0;
		list-style-type: none;
		color: #8e8e8e;
		.year {
			display: inline-block;
			margin: 0 .5em;
		}
	}
}