@import 'color';

body {
	background-color: $page-background-color;
	color: $page-text-color;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

#header {
	background-color: $header-background-color;
	padding-top: 16px;
	.wrapper {
		position: relative;
	}
	.top {
		position: absolute;
		top: -40px;
		left: 50%;
		margin-left: -75px;
		pointer-events: none;
	}
}

#logo {
	margin: 0;
	a {
		display: inline-block;
		height: 50px;
		width: 130px;
		background-image: inline-image('logo.svg');
		text-indent: 100%;
		overflow: hidden;
	}
}

#menu {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		text-transform: uppercase;
		line-height: 50px;
		font-size: 1.5em;
		vertical-align: -30px;
		min-width: 150px;
		a {
			display: inline-block;
		}
	}
	li.active a {
		border-bottom: 2px solid #dcb732;
		pointer-events: none;
	}
	li.disable {
		color: #524f55;
	}
}

#banner {
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 6vw;
	.left {
		span {
			display: block;
		}
	}
	.right {
		color: #8e8e8e;
		span {
			color: #fff;
		}
	}
	.title {
		line-height: 1.5em;
		time {
			display: block;
		}
	}
	.red {
		color: #eb5448;
	}
	.green {
		color: #9c3;
	}
	.blue {
		color: #3f80ef;
	}
}

#register {
	color: #dcb732;
	word-spacing: .3em;
	&::before {
		content: '\00bb\ ';
	}
	&:hover {
		word-spacing: .1em;
	}
}

#content {
	padding: 1em;
	p {
		line-height: 1.5em;
	}
	section h2 {
		text-transform: uppercase;
	}
}

article p a {
	border-bottom: 1px dashed;
}

.news {
	h3 {
		font-weight: bold;
	}
	p {
		font-weight: 300;
	}
	time {
		display: block;
		background-color: #757575;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		text-align: center;
		line-height: 70px;
	}
}

#news {
	h2 img {
		width: 1em;
		height: 1em;
		opacity: .3;
		vertical-align: sub;
	}
	h2:hover img {
		opacity: 1;
	}
}

.page {
	& > h2 {
		text-transform: uppercase;
	}
}

#sponsor {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			img {
				vertical-align: middle;
			}
		}
	}
}

#footer {
	padding-top: .5em;
	background-color: $header-background-color;
	background-image: image-url('bottom.png');
	background-repeat: no-repeat;
	background-position: center bottom -30px;
	min-height: 400px;
	.wrapper {
		position: relative;
	}
	.maintainer {
		&::before {
			display: inline;
			content: '‧';
			color: #8e8e8e;
		}
		a {
			text-decoration: underline;
		}
	}
	.archive {
		margin: 0;
		padding: 0;
		list-style-type: none;
		color: #8e8e8e;
		.year {
			display: inline-block;
			margin: 0 .5em;
		}
	}
	.facebook h3 {
		display: none;
	}
}

#sponsors {
	h3 {
		text-transform: uppercase;
		text-indent: 1em;
		margin: 2em 0;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
}

.sponsor {
	margin: 1em 0;
	& > a {
		display: block;
		flex-basis: 30%;
		img {
			display: block;
			max-width: 100%;
		}
	}
	article {
		flex-basis: 70%;
		p {
			min-height: 50px;
		}
	}
}

#schedule {
	width: 100%;
	table {
		width: 100%;
		border-spacing: 0;
		margin-top: 2em;
	}
	caption {
		text-align: left;
		font-size: 24px;
		margin: .5em 0;
		text-indent: 1em;
	}
	thead {
		background-color: #312f33;
		th {
			border-top: 6px solid #6ca0f7;
			line-height: 38px;
		}
	}
	tbody {
		tr {
			margin: 1px 0;
		}
		td {
			font-size: 14px;
			border: 1px solid;
			border-top-color: #3f3d42;
			border-right-color: #3f3d42;
			border-bottom-color: #312f33;
			border-left-color: #312f33;
			padding: .5em;
		}
		td:first-child {
			text-align: center;
			font-size: 18px;
			border-left: none;
			min-width: 150px;
		}
		td[colspan] {
			text-align: center;
			padding: 1em;
		}
	}
	.speaker {
		display: block;
		color: #dba927;
		margin-bottom: .5em;
	}
}

#speakers {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	.speaker {
		color: #8e8e8e;
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		.name {
			color: #fff;
			font-size: 24px;
		}
		.title {
			color: #fff;
		}
		.avatar {
			display: block;
			width: 128px;
			height: 128px;
			object-fit: cover; // firefox you are the loser!
			border-radius: 50%;
			background-image: image-url('avatar.png');
			border: 2px solid #cfcfcf;
		}
		article:target {
			outline: solid #dcb732 2px;
			outline-offset: 0.8em
		}
	}
}

@import 'layout';
