%footer#footer
	.wrapper
		%p &copy; 2014 OSDC.tw
		%iframe{:src => '//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FOSDC.TW&amp;width=300&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false', :style =>'border:none; overflow:hidden; width:300px; height:300px;', :scrolling => 'no', :frameborder => 0}
