%footer#footer
	.wrapper
		%p 
			&copy; 2014 OSDC.tw 
			%span.maintainer
				Designed by 
				= link_to "四點設計", 'http://4point-inc.com/'
			%span.maintainer
				協辦：
				= link_to "SiteTag", 'http://sitetag.us/'
		%ul.archive
			- data.archive.years.each do |year|
				%li.year
					= link_to year, "/#{year}/"
		%iframe{:src => '//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FOSDC.TW&width=300&height=258&colorscheme=dark&show_faces=true&header=false&stream=false&show_border=false', :style =>'border:none; overflow:hidden; max-width:300px; height:300px;', :scrolling => 'no', :frameborder => 0}
