- if data.relation.sponsors.select{|sponsor| sponsor.rank == rank}.length > 0
	%section{:class => rank}
		%h3 #{rank}
		%ul
			- data.relation.sponsors.select{|sponsor| sponsor.rank == rank}.each do |link|
				%li.sponsor
					= link_to image_tag('sponsors/' + link.id + '.png', :alt => link.title), link.link