---
title: OSDC 2012 | 新聞列表
---

<div class="center-block default-style">
    <h2>新聞列表</h2>

<div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">03</span>November</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="9"></a>
        <h3>OSDC.TW 2013 Calls for talks</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	 </p>
<div>
	If we want to make the things easier and better. We should try to look into the code, and change them.</div>
<div>
	After that, we can share it to others. Because if you share the ideas to them, they could help you to make it much better.</div>
<div>
	If you have some great ideas to do something cool. You can share it to some more creative people.</div>
<div>
	After that, you can implement the ideas together, and it&#39;s possible to make the ideas much more than what you think before.</div>
<div>
	 </div>
<div>
	It&#39;s time to share your ideas and hacking. It&#39;s OSDC.TW 2013.</div>
<div>
	We will arrange the 30mins session for all of the submissions.</div>
<div>
	Please send the talk including topic, abstract, speaker bio to submit@osdc.tw</div>
<div>
	The deadline of the talks submitting is 31st January, 2013</div>
<div>
	 </div>
<div>
	The information of the OSDC.TW 2013:</div>
<div>
	Date: 2013/4/19-20</div>
<div>
	Venue: Academia Sinica, Taipei</div>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">14</span>April</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="8"></a>
        <h3>OSDC.TW 2012 Hackathorn</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	今年 OSDC.tw 第一次舉辦比較大規模的 Hackathorn</p>
<p>
	時間：4/21</p>
<p>
	即日起開放報名，報名方式請見 <a href="https://github.com/jeffhung/osdc-2012-hackathon">https://github.com/jeffhung/osdc-2012-hackathon</a></p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">12</span>April</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="7"></a>
        <h3>OSDC.TW 2012 Hackathorn</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	We will announce the OSDC.TW 2012 hackathorn on Saturday morning!!</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">08</span>April</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="6"></a>
        <h3>OSDC.TW 2012 議程修改</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	由於部分講者變動，OSDC.TW 2012 的議程進行變動。</p>
<p>
	請各位與會者重新確認議程</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">14</span>February</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="5"></a>
        <h3>OSDC.TW 2012 與 Samsung Apps</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	今年 OSDC.TW 首次與其他廠商合作，也就是三星的 Hackathorn。</p>
<p>
	<span style="font-family: arial, sans-serif; ">Samsung Apps Contest 決賽將與 OSDC.TW 2012</span><span style="font-family: arial, sans-serif; ">同時在中研院舉行，</span><wbr style="font-family: arial, sans-serif; background-color: rgba(255, 255, 255, 0.917969); " /><span style="font-family: arial, sans-serif; ">入圍者與優勝者將可獲得非常優厚的獎品與獎金</span></p>
<p>
	<span style="font-family: arial, sans-serif; ">歡迎Android Apps 開發者組隊報名初選，活動辦法請參考：</span></p>
<p>
	<a href="http://event.samsung.com.tw/hhp/appschallenge/"><span style="font-family: arial, sans-serif; ">http://event.samsung.com.tw/hhp/appschallenge/</span></a></p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">14</span>February</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="4"></a>
        <h3>OSDC.TW 2012 第二波報名預告</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	由於很多朋友反應上週五報名額滿太快，來不及報名</p>
<p>
	依照 OSDC.TW 往年的經驗，我們會在確認未繳費的報名者後釋出部分報名名額</p>
<p>
	我們預計本週四 (2/16) 晚上確認報名繳費狀況</p>
<p>
	預計本週五 (2/17) 早上 11:00 會將釋出的名額重新開放報名</p>
<p>
	目前無法確認開放的數目，請有興趣的朋友到時候上網報名</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">10</span>February</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="3"></a>
        <h3>OSDC.TW 報名狀況</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	OSDC.TW 2012 報名已經在今天下午 2:34 分額滿</p>
<p>
	我們收到很多朋友向隅的訊息，雖然這次報名有點小小的狀況</p>
<p>
	但我們認為並不至於影響大家的權益</p>
<p>
	至於這次沒有報名成功的朋友，我們預計將於下週會整理報名但未繳費的名單</p>
<p>
	屆時將會空出部分名額，重新開放報名</p>
<p>
	因此如果你這次錯失機會，歡迎把握下次的報名機會</p>
<p>
	至於已經報名成功的朋友，也記得儘速繳費，以確保您的權利</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">04</span>February</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="2"></a>
        <h3>OSDC.TW 2012 報名預告</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	目前議程安排進度已經完成 90%，預計下週將可以公布議程。</p>
<p>
	所以我們將在 2/10 (五) 下午 2:00 開放報名，預計開放報名名額 420 人。</p>
<p>
	報名時間若有改變，將於官方網站上公布</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>
         <div class="post-block-default">
        <div class="post-thumbnail">
                            <div class="post-date"><span class="number">20</span>January</div>
        </div> <!-- end .post-thumbnail --> 	

        <div class="header-meta-text">
        <a name="1"></a>
        <h3>OSDC.TW 2012 官方網站公布</h3>
        <div class="post_line"></div>
        <div class="post-text">
            <p>
	隨著 OSDC.TW 2012 演講徵稿結束，在正式公布議程之前，OSDC.TW 2012 率先推出最新官方版網站。</p>
<p>
	而接下來預計將在二月中開始報名，至於正式開放報名的時間，請隨時注意官方網站的消息。</p>
        </div>
        </div><!-- end .header-meta-text -->	
        <div class="clear"></div>		
     </div> <!-- end .post-block -->  

     <div class="clear"></div>
     <div class="divider-blog"></div>


</div>
