---
title: OSDC 2013 | Calls for talks
---

<div class="center-block">
    If we want to make the things easier and better. We should try to look into the code, and change them.<br />
    After that, we can share it to others. Because if you share the ideas to them, they could help you to make it much better.<br />
    If you have some great ideas to do something cool. You can share it to some more creative people.<br />
    After that, you can implement the ideas together, and it's possible to make the ideas much more than what you think before.
    <br /><br />
    It's time to share your ideas and hacking. It's OSDC.TW 2013.<br />
    We will arrange the 30mins session for all of the submissions.<br />
    Please send the talk including topic, abstract, speaker bio to submit@osdc.tw<br />
    The deadline of the talks submitting is 31st January, 2013
    <br /><br />
      
    The information of the OSDC.TW 2013:<br />
    Date: 2013/4/19-20<br />
    Venue: Academia Sinica, Taipei<br />
</div>

<div class="clear"></div>    
