---
title: OSDC 2012 | 首頁
---

<!-- START .center-block -->
<div class="center-block">

  <!-- start services blocks -->	
  <ul id="services">
    <li class="design">
      <div class="sup-head">
        <a href="article-list.html"><h3>News</h3></a>
      </div>	            	
      <p>今年的 OSDC 日期是 <span style="color: red;">4/14 ~ 4/15</span> 兩天，地點是<span style="color: red;">中研院人社館</span>，請密切注意我們的消息！ </p>
      <div class="sup-footer">
        <a href="article-list.html" class="learn-more">瀏覽新聞</a>
      </div>
    </li>
    <li class="development">
      <div class="sup-head">            
        <a href="http://registrano.com/events/81757f" target="_blank"><h3>Register</h3></a>
      </div>	
      <p>開始報名時間：<span style="color: red;">2012/02/10 14:00</span><br><a style="color: #207fc9;" href="http://registrano.com/events/osdctw2012" target="_blank">報名網址在此！</a></p>
      <div class="sup-footer">
        <a href="http://registrano.com/events/81757f" target="_blank" class="learn-more">活動報名</a>
      </div>
    </li>

    <li class="strategy">
      <div class="sup-head">            
        <a href="schedule.html"><h3>Schedule</h3></a>
      </div>	
      <p>豐富的演說內容，都在這個列表中，請關注最新的時程更新。</p>
      <div class="sup-footer">
        <a href="schedule.html" class="learn-more">活動時程表</a>
      </div>

    </li>
    <li class="support">
      <div class="sup-head">            
        <a href="sponsor.html"><h3>Sponsors</h3></a>
      </div>	            	
      <p>感謝這些贊助廠商，我們因為您的協助，而能把活動辦得更好！</p>
      <div class="sup-footer">
        <a href="sponsor.html" class="learn-more">贊助商</a>
      </div>
    </li>            
  </ul> <!-- end #services -->             
</div> <!-- end .center-block -->    

<div class="clear"></div>    
<div class="divider"></div>

<div class="center-block">
  <div class="rcbe-blocks">
    <div id="rc-posts">
      <h3 class="no-margin">最新文章</h3>
      <span></span>
      <ul id="rc-post-items">

         <li class="single-item">
                    <div class="date">
                    <span class="number">03</span>
                    <div class="month">November</div>
                    </div>
                    <p>
                        <a href="article-list.html#9">OSDC.TW 2013 Calls for talks</a>
                    </p>
                    <div class="clear"></div>
                </li> 
                <li class="list-divider"></li>
                 
                                    <li class="single-item">
                    <div class="date">
                    <span class="number">14</span>
                    <div class="month">April</div>
                    </div>
                    <p>
                        <a href="article-list.html#8">OSDC.TW 2012 Hackathorn</a>
                    </p>
                    <div class="clear"></div>
                </li> 
                <li class="list-divider"></li>
                 
                                    <li class="single-item">
                    <div class="date">
                    <span class="number">12</span>
                    <div class="month">April</div>
                    </div>
                    <p>
                        <a href="article-list.html#7">OSDC.TW 2012 Hackathorn</a>
                    </p>
                    <div class="clear"></div>
                </li> 
                <li class="list-divider"></li>
                 
                                    <li class="single-item">
                    <div class="date">
                    <span class="number">08</span>
                    <div class="month">April</div>
                    </div>
                    <p>
                        <a href="article-list.html#6">OSDC.TW 2012 議程修改</a>
                    </p>
                    <div class="clear"></div>
                </li> 
                <li class="list-divider"></li>

      </ul>
    </div>
  </div> <!-- end .rcbe-blocks -->

    <div id="testimonial">
        <h3 class="no-margin">聽聽看大家怎麼說</h3>
        <span></span>
        <a class="twitter-timeline" data-theme="light" data-chrome="noheader nofooter transparent noscrollbar" data-tweet-limit="5" data-widget-id="432792863965868032" href="https://twitter.com/search?q=%23osdc.tw">
            推文關於"#osdc.tw"
          </a>
          <script defer>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
    </div>
    <div class="clear"></div>
</div>   

<div class="clear"></div>    

<div class="center-block">
  <div class="center-block">
  </div> <!-- end .center-block -->
</div>
<div class="clear"></div>    
