---
title: Home
---
#bricks
	%svg.tap{:height => 500}
		%use.brick{"xlink:href" => image_path('image.svg') + "#red", :y => 88}
		%use.brick{"xlink:href" => image_path('image.svg') + "#yellow", :y => 183, :x => 64}
		%use.brick{"xlink:href" => image_path('image.svg') + "#purple", :y => 135, :x => 64}
	%svg.pillar2{:height => 500}
		%use.brick{"xlink:href" => image_path('image.svg') + "#green", :y => 49}
		%use.brick{"xlink:href" => image_path('image.svg') + "#red_blue"}
	%svg.pillar{:height => 500}
		%use.brick{"xlink:href" => image_path('image.svg') + "#purple", :y => 98}
		%use.brick{"xlink:href" => image_path('image.svg') + "#yellow", :y => 49}
		%use.brick{"xlink:href" => image_path('image.svg') + "#green"}
	%svg.drop
		- 3.times do
			%use{"xlink:href" => image_path('image.svg') + "#drop"}
%section#news.home
	%h2
		= link_to 'News', '/news.html'
		= link_to '/feed.xml' do
			%svg
				%use{"xlink:href" => image_path('image.svg') + "#feed"}
	- page_articles.each_with_index do |article, i|
		= partial(:news, :locals => {:article => article, :content => false})
%section#twitter
	%h2 Twitter
	%a.twitter-timeline{:href => "https://twitter.com/search?q=%23osdc.tw", :data => {'widget-id' => "432792863965868032", 'tweet-limit' => 5, :chrome => "noheader nofooter transparent noscrollbar"}}
		推文關於"#osdc.tw"
	%script{:defer => true}
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
