---
title: OSDC 2013 | Last Four Days to Submit Talks
---

<div class="center-block">
    The last week to call for papers for OSDC.TW 2013! <br />
    Please submit your talks to submit@osdc.tw before the end of January!
</div>

<div class="clear"></div>    
