---
title: OSDC 2013 | 議程表
---

<%= stylesheet_link_tag "bootstrap/css/bootstrap", "custom" %>

<div class="center-block">
  <h2>議程表</h2>
  <a name="day1"></a>
  <h3 class="no-margin">4/19 - DAY 1</h3>

  <table class="table table-bordered table-hover" style="background-color: #fff;">
    <thead>
      <tr style="background-color: #333; color: #eee;">
        <th width="12%" class="center">時間</th>
        <th width="24%" class="center">第一會議室</th>
        <th width="40%" class="center">國際會議廳</th>
        <th width="24%" class="center">第二會議室</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time">09:20-10:00</td>
        <td colspan="3" class="center">breakfirst</td>
      </tr>
      <tr>
        <td class="time">10:00-10:50</td>
        <td colspan="3" class="center"><a>Selena Deckelmann</a>:<br />What beginners teach us</td>
      </tr>
      <tr>
        <td class="time">10:50-11:00</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:00-11:30</td>
        <td><a>YAHOO</a>:<br />Open Stack</td>
        <td><a>Yuren Ju</a>:<br />Unit testing, CI and Firefox OS</td>
        <td><a>lunastorm</a>:<br />Wissbi, A Distributed Event Toolkit to Process Big Data</td>
      </tr>
      <tr>
        <td class="time">11:30-11:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:40-12:10</td>
        <td>KKBOX</td>
        <td><a>Kawasaki</a>:<br />IR light vs HEV light: 紅外線 vs 高能量可見光</td>
        <td><a>fr3@k</a>:<br />Asynchronously C++</td>
      </tr>
      <tr>
        <td class="time">12:10-14:00</td>
        <td colspan="3" class="center">lunch</td>
      </tr>
      <tr>
        <td class="time">14:00-14:30</td>
        <td>PIXNET</td>
        <td><a>Kenichi</a>:<br />typemap feature in Perl/XS</td>
        <td><a>BrianHsu</a>:<br />我如何停止憂慮並愛上 Non-MVC Web Framework</td>
      </tr>
      <tr>
        <td class="time">14:30-14:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">14:40-15:10</td>
        <td>ETU</td>
        <td><a>Kazuaki Maeda</a>:<br />Parser Development Based on an External DSL and an Internal DSL</td>
        <td><a>wycc</a>:<br />讓系統千變萬化的作業環境</td>
      </tr>
      <tr>
        <td class="time">15:10-15:30</td>
        <td colspan="3" class="center">tea time</td>
      </tr>
      <tr>
        <td class="time">15:30-16:00</td>
        <td><a>imacat</a>:<br />Multimedia Fun with OpenOffice Calc - Abusing OpenOffice UNO API</td>
        <td><a>Team Yamanekko</a>:<br />mruby develoment with Eclipse</td>
        <td><a>Johnson Lin</a>: Game Jam and Open Source</td>
      </tr>
      <tr>
        <td class="time">16:00-16:10</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">16:10-16:40</td>
        <td><a>大貓</a>:<br />那些函數語言Tutorial沒教我的事</td>
        <td><a>Noritsuna Imamura</a>:<br />How to make the "MAKERS".</td>
        <td>TBD</td>
      </tr>
    </tbody>
  </table>

  <a name="day2"></a>
  <h3 class="no-margin">4/20 - DAY 2</h3>
  <table class="table table-bordered table-hover" style="background-color: #fff;">
    <thead>
      <tr style="background-color: #333; color: #eee;">
        <th width="12%">時間</th>
        <th width="24%">第一會議室</th>
        <th width="40%">國際會議廳</th>
        <th width="24%">第二會議室</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time">9:20-10:00</td>
        <td colspan="3" class="center">breakfirst</td>
      </tr>
      <tr>
        <td class="time">10:00-10:30</td>
        <td><a>Fred</a>:<br />Node.js 進攻桌面開發！用 HTML5 開發跨平台的單機版應用程式！</td>
        <td><a>Mikimoto</a>:<br />2013 年了還在搞輸入法？</td>
        <td><a>ingy</a>:<br />Acmeism - Hacking in all Languages at Once</td>
      </tr>
      <tr>
        <td class="time">10:30-10:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">10:40-11:10</td>
        <td><a>OOO</a>:<br />Functional Programming Using Underscore.js</td>
        <td><a>Richard lee</a>:<br />Using CocoaPods for Objective-C Library Management.</td>
        <td><a>obra</a>:<br />Building a keyboard from scratch</td>
      </tr>
      <tr>
        <td class="time">11:10-11:20</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:20-11:50</td>
        <td><a>Mindos</a>:<br />LiveScript 漂浮冰珈琲</td>
        <td><a>ihower</a>:<br />A brief introduction to Vagrant - 原來 VirtualBox 可以這樣玩</td>
        <td><a>guod</a>:<br />ElasticSearch 實戰介紹</td>
      </tr>
      <tr>
        <td class="time">11:50-14:00</td>
        <td colspan="3" class="center">lunch</td>
      </tr>
      <tr>
        <td class="time">14:00-14:30</td>
        <td colspan="3" class="center"><a>Audrey</a>:<br />[PgREST – Node.js in Database]</td>
      </tr>
      <tr>
        <td class="time">14:30-14:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">14:40-15:10</td>
        <td colspan="3" class="center"><a>Kirby</a>:<br />g0v 黑客松 - 寫程式改造社會</td>
      </tr>
      <tr>
        <td class="time">15:10-15:30</td>
        <td colspan="3" class="center">tea time</td>
      </tr>
      <tr>
        <td class="time">15:30-16:00</td>
        <td colspan="3" class="center"><a>Jserv</a>:<br />完全用開放原始碼軟體進行嵌入式系統教學</td>
      </tr>
      <tr>
        <td class="time">16:00-16:10</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">16:10-17:00</td>
        <td colspan="3" class="center">lightning talks</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align:right; margin-right: 60px;">（議程更動以主辦單位公布為主）</div>
</div>
