---
title: Schedule
---

#schedule.page
	%h2
		Schedule
	= partial(:schedule, :locals => {:date => settings.day1})
	= partial(:schedule, :locals => {:date => settings.day2})
	%p{:style => 'float: right'} （議程更動以主辦單位公布為主）
