---
title: OSDC 2013 | 議程表
---

<%= stylesheet_link_tag "bootstrap/css/bootstrap", "jquery.fancybox", "custom" %>
<%= javascript_include_tag "jquery.fancybox" %>

<div class="center-block">
  <h2>議程表</h2>
  <a name="day1"></a>
  <h3 class="no-margin">4/19 - DAY 1</h3>

  <table class="table table-bordered table-hover" style="background-color: #fff;">
    <thead>
      <tr style="background-color: #333; color: #eee;">
        <th width="12%" class="center">時間</th>
        <th width="24%" class="center">第一會議室</th>
        <th width="40%" class="center">國際會議廳</th>
        <th width="24%" class="center">第二會議室</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time">09:20-10:00</td>
        <td colspan="3" class="center">breakfast</td>
      </tr>
      <tr>
        <td class="time">10:00-10:50</td>
        <td colspan="3" class="center"><a class="popup">Selena Deckelmann</a>:<br />What beginners teach us
<pre style="display:none;width:600px;">
Open source as an idea has won. Linux dominates developer servers, open source tools are ubiquitous and being an open source developer rocks.

And yet, we talk frequently about how to find new contributors, how to increase the number of people who participate and share code with us, how to improve the skills of the junior developers and hire them as fast as we can.

Selena has spent most of the last year teaching absolute beginners how to program in Python, how to use the command-line and how to use revision control. These beginners succeed and fail in open source in both familiar and surprising ways. 

Selena will share lessons from their experiences to help us create a more inclusive and welcoming future for open source software.

Selena Deckelmann is a major contributor to PostgreSQL and a data architect at Mozilla.  She's been involved with free and open source software since 1995 and began running conferences for PostgreSQL in 2007. She founded Open Source Bridge, Postgres Open and speaks internationally about open source, databases and community. She is an advisor to the Ada Initiative, an organization dedicated to increasing the participation of women in open source and technology communities. You can find her on twitter (@selenamarie) and on her blog (http://chesnok.com).
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">10:50-11:00</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:00-11:30</td>
        <td><a class="popup">Andrew Cole</a>:<br />The RosettaCode Data Project
<pre style="display:none;width:600px;">
RosettaCode.org is a wiki containing many solutions to over 650 programming problems in almost 500 programming languages. The RosettaCode Data Project has put all of the code samples into a single git repo, and is creating tools to do interesting stuff with them. Andrew Cole will tell you all about this exciting project that may take OSDC to a new level.

Andrew Cole is an Open Source hacker who lives in Seattle and works for ActiveState. He likes to FTAA (Forward The Acmeist Agenda)!
</pre>
        </td>
        <td>YAHOO | <a class="popup">Yi-Kai Tsai</a>:<br /> OpenStack 101
<pre style="display:none;width:600px;">
OpenStack is one of the most popular open source IaaS project in passing two years. This area is hot and there are lots of technologies and terminologies. In today's talk, starting from history of OpenStack, I will talk more about OpenStack design concept and its philosophy.Then giving a architecture overview introduction on it. I hope people will have a better understanding on OpenStack.
</pre>
        </td>
        <td><a class="popup">lunastorm</a>:<br />Wissbi, A Distributed Event Toolkit to Process Big Data 
<pre style="display:none;width:600px;">
Wissbi is a highly available and scalable distributed message routing framework like ZeroMQ that took a different path from traditional MQ middlewares. 
The toolkits supports an elegant and intuitive integration model, allowing writing event driven applications as easy as "$ tail -f log | grep error > error.log".

Scott Wang a.k.a. lunastorm, Sr. Engineer at Zillians
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">11:30-11:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:40-12:10</td>
        <td><a class="popup">Kawasaki</a>:<br />IR light vs HEV light: 紅外線 vs 高能量可見光
<pre style="display:none;width:600px;">
Infrared light could be helpful despite that high-energy visible light
could be harmful.
At this session, he will give a crazy demo once again as well as super-duper
hacking talk based upon HTML5/CSS3 and other leading edge Web technologies.
The topic is subject to change.

Yusuke Kawasaki is a Perl monger, JavaScript hacker and user interface
researcher.
He's back to Taipei as he loves OSDC.TW as well as Xiaolongbao.
This is his first talk given abroad after quiting Media Technology
Labs last October
and just launched his own startup company in Tokyo.
</pre>
        </td>
        <td>KKBOX | <a class="popup">Gea-Suan Lin</a>:<br />Percona XtraDB Cluster 入門
<pre style="display:none;width:600px;">
Percona XtraDB Cluster (PXC) 是 Percona 基於 Galera Cluster 而發行的 MySQL server 版本，針對設定與實用性的部份加強。

Galera Cluster 是 Codership 針對傳統 MySQL replication 的缺點而改良的產品，加強資料一致性，並解決 Replication Lag。

我們這半個小時會說明 PXC 能夠帶來什麼好處，並且帶大家入門：
說明 PXC 相較於既有 MySQL replication 的好處。
說明 PXC 的架構。
架設 PXC。
架設 Heartbeat，並且配合 PXC 的狀態，提供高可靠資料庫系統。
</pre>
        </td>
        <td><a class="popup">fr3@K</a>:<br />Asynchronously C++
<pre style="display:none;width:600px;">
Thanks to Node.js, "asynchronicity" is gaining mainstream acceptance and enjoying the hip-ness it never had. Until recently, C++ programmers had rather limited low-level options to asynchronous programming. Though these low-level options were very powerful, they tend to be cumbersome to program with. Most fellow C++ programmers envied JavaScript developers, who had high-level asynchronous I/O API at their disposal.
This talk is about things I stombled upon in the journey to asynchronous programming in C++. The good and the bad, from libevent to Node.js and beyond.

Kenneth Ho aka. fr3@K, CloudMosa
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">12:10-14:00</td>
        <td colspan="3" class="center">lunch</td>
      </tr>
      <tr>
        <td class="time">14:00-14:30</td>
        <td><a class="popup">Noritsuna Imamura</a>:<br />How to make the "MAKERS".
<pre style="display:none;width:600px;">
Last year, Makers: The New Industrial Revolution by Chris Anderson (
http://www.amazon.com/dp/0307720950/ ) was the one of the best seller.

I, I joined some following MAKERS's events as MAKERS, explain about MAKERS:
What is the "MAKERS" ?
What do the "MAKERS" make ?
How to make the "MAKERS"'s product ?
APPENDIX:
How to use a 3D Prineter.
How to use a CNC lathe machine.
How about are MAKERS's events.
When you finish to listen my session, you become "MAKERS"!
MAKERS's events which I joined:
Maker Faire 2012 BayArea(San Francisco)
http://makerfaire.com/bayarea/2012/index.html
Mini Maker Faire 2012 Shen Zhen http://www.shenzhenmakerfaire.com/
Mini Maker Faire 2012 Singapore http://makerfairesingapore.com/
Mini Maker Faire 2012 Hong Kong http://hkmakerfaire.wordpress.com/

I'm a board member as OESF(http://www.oesf.biz). And I'm coordinating an OESF's Open Lab(Taiwan&Japan) & future system WG(http://fswg.oesf.biz/).
I'm a starting member of the biggest Android community in Japan(http://android-group.jp).
I'm making an Android for community for embedded(for OEM/ODM venders) in Taiwan with ITRI(http://itri.org.tw/) & Linaro(http://www.linaro.org).
And I'm making some funny products as MAKERS.
Auto Chasing Turtle:
http://www.siprop.org/ja/2.0/index.php?product%2FAutoChasingTurtle
Panda Cloud: http://www.siprop.org/en/2.0/index.php?product%2Fpandacloud
Treasure Hunting Robot:
http://www.siprop.org/en/2.0/index.php?product%2FTreasureHuntingRobot
</pre>
        </td>
        <td>PIXNET | <a class="popup">Zack Yang</a>:<br />Say yo to AngularJS
<pre style="display:none;width:600px;">
在 Web 應用愈來愈複雜的狀況下，前端所使用的開發工具愈來愈多，連網頁程式也要講究 MVC 架構，尤其是在開發 SPA(Single Page Application) 的 Web App。Yeoman 與 AngularJS 都是新興的 Open source 專案，Yeoman 是集開發工具之大成的一個神兵利器，目的是讓開發的 Workflow 更順暢。AngularJS 可以說是專門在建立 SPA 的 Framework，能以簡潔的方式來開發網頁程式。結合 Yeoman 與 AngularJS 可以幫助開發者加速開發 Web 的應用。
</pre>
        </td>
        <td><a class="popup">BrianHsu</a>:<br />我如何停止憂慮並愛上 Non-MVC Web Framework
<pre style="display:none;width:600px;">
目前熱門的網站開發的框架，如 Ruby 上的 Rails、使用 Python 的 DJango 或是 Java 的 Play Framework ，多數採用 MVC 的模式，並且配合模版的概念，來實現「外觀與程式邏輯的分離」。
但針對這個議題，並不是只有 MVC 這一個解法，使用 Scala 做為程式語言的網頁應用程式框架 Lift Web Framework，就提出了另一個稱為 View First  的概念，做為實現外觀與程式邏輯的分離的手段。
在這個 Talk 中，我們會介紹 Lift 如何用 Functional Programming 的角度來看待網頁應用程式中的外觀與程式邏輯，以及它如何透過 View First 的方法，讓網頁應用程式中的模版是完全標準的 HTML 文件，不含有任何的程式邏輯，但卻又可以在其中注入動態產生的內容。

BrianHsu，中研院研究助理，負責開發與維護數位典藏聯合目錄網站。平日工作上使用 Java 做為開發程式語言，但用的最順手的其實是 Scala。
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">14:30-14:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">14:40-15:10</td>
        <td><a class="popup">Kazuaki Maeda</a>:<br />Parser Development Based on an External DSL and an Internal DSL
<pre style="display:none;width:600px;">
I will talk a traditional parser generator based on an external DSL (Domain Specific Language) and my own parser generator
based on an internal DSL in Ruby.
The parser reads source code, recognizes a syntactic structure, and builds an abstract syntax tree. Since Yacc was introduced to parser development in 1970s, many parser generators have been built and made parser development easier.
The parser generators read syntax rules with action code, and generate source code to support parser development.
All of them are now available free under Open Source licenses.
All custom languages to represent syntax rules are different from general purpose languages so that they are called external DSLs.
The parser generators read mixture of the syntax rules in the external DSLs and action code in general purpose languages such as Java and C#.
I explain parser development in Java using a traditional parser generator BYACC/J.
I believe that an internal DSL is one of the approaches to improve the descriptive power.
It is also an intuitive language to define syntax rules and build the parser.
An original parser generator which is currently building by myself is designed on a subset of Ruby.
We can define syntax rules in Ruby and action code in Ruby. Ruby gives a powerful description to define syntax rules and we can embed action code with a flexible way. The parser generator will be distributed as an Open Source Software, soon. I explain parser development in Ruby using my own parser generator.

He graduated in Department of Administration Engineering from Keio University in Japan,
and graduated in Graduate School of Science and Technology from Keio University.
After leaving Keio University, he got an academic position at Chubu University in Japan.
Now he is a professor at Department of Business Administration and Information Science in Chubu University in Japan.
His research interests are Compiler Construction, Domain Specific Languages, Object-Oriented Programming, Software Engineering and Open Source Software.
</pre>
        </td>
        <td>ETU | <a class="popup">韓祖棻</a>:<br />Hadoop Cluster HA 的經驗分享
<pre style="display:none;width:600px;">
Hadoop HA 是個熱門且重要的議題，目前有諸多設計是以 Namenode HA 為主軸，進而延伸至 Job Tracker 和 HMaster。然而，在實作 Hadoop Cluster HA 時，僅考量Namenode、Job Tracker、和 HMaster 仍然不夠嚴謹，在Production的環境，一個Hadoop Cluster 通常還會需要其他的非Hadoop Ecosystem的服務與之協同運作，如 PostgreSQL、Kerberos、Puppet、 NTP 等，這些服務皆需一併規劃與設計，在 HA 被觸發後，讓 Hadoop Cluster 仍可正確運作。本議程將會介紹 Apache Hadoop、Cloudera、和 Hortonworks 於 Hadoop HA 上的解決方案，以及最新發展，並分享第一手的 Etu Appliance HA 作法。

韓祖棻   現任Etu 技術經理
</pre>
</td>
        <td><a class="popup">wycc</a>:<br />讓系統千變萬化的作業環境
<pre style="display:none;width:600px;">
對於越來越胖的 Linux 很無力嗎? 我只是要做一些宅宅的事，確要花數十秒才能啟動一個作業系統。過去十年所多人想要幫 Linux 減重，不過就像大家一樣，越減越重。打掉重練才是正途。不過重做一個 Linux 不但花工，而且很可能下場是一樣的。要減要連架構一起改變才有意義。
最近十年 IOT(Intenet of Things) 提供了一個很好的方向。我們可以用一堆的小機器來組合出我們想要的功能。這些小機器用各式各樣的網路組合起來。就變成是一個很強大的平台了。我們可以用如變型金鋼般的方式將各式各樣組式拼成一個組合體。
悟空 (WuKong https://github.com/wukong-m2m/NanoKong) 計畫的目的在於創造一新型態的作業系統。讓我們可以使用 web 界面客製化並控制一套複雜的組件。這個平台的創造一個新的 APP 平台，使得應用程式的開發者可以為開發一套可以在不同硬體上運行的應用程式。如此一來，使用者可以從 APP store中下載一個應用程式並套用在不同的硬體內。
傳統的感知器應用程式都是針對一個特定的系統寫的。悟空提出的架構使得寫一個可以在不同硬體上執行的感知器應用程式變的可行。悟空所有的程式都在 github 上，目前支援 Arduino 的平台。WuKong 也自行設計了一個有 Z-Wave/Zigbee 功能的硬體。這個硬體可以使用 Arduino 所有的應用程式。

從 1992 年開始使用 Linux。早期投身 Linux 中文顯示列印及文書處理系統開發，之後開始做一些和 Linux Kernel 即時作業系統相關的研究。四年前開始研究家庭自動化系統，使用無線將家中設備上網。不過最後變成水電工幫人家裝電燈和窗簾。最近開始現超小型的 Java VM 系統，希望能把 JVM 放到每一個裝置中 。現在也在研究如何不用文字編輯器就可以寫程式，讓會用電腦的人就會寫程式。
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">15:10-15:30</td>
        <td colspan="3" class="center">tea time</td>
      </tr>
      <tr>
        <td class="time">15:30-16:00</td>
        <td><a class="popup">Team Yamanekko</a>:<br />mruby develoment with Eclipse
<pre style="display:none;width:600px;">
mruby is an implementation of Ruby, especially for embedded.
We have tried to make mruby easy-to-use on micro controllers.
In this session, we show the way to develop mruby application on MCU
(ARM Cortex-M3) using Eclipse's GUI and other OSS tools(GCC, OpenOCD and so on).

Team Yamanekko
Team Yamanekko is a developer group of Yurie Yamane and Masayoshi Takahashi.
We are using mruby for micro controllers, with the slogan "tanoshii
mruby(mruby for fun)".
Yurie Yamane is a programmer who is interested in embedded systems,
and a member of asakusa.rb.
Masayoshi Takahashi is an old-time Rubyist and the founder of Nihon
Ruby no Kai, the non-profit Ruby community in Japan. He is also the
founder of Tatsu-Zine Publising, the e-book publisher for IT engineers
in Japan.
</pre>
        </td>
        <td><a class="popup">imacat</a>:<br />Multimedia Fun with OpenOffice Calc - Abusing OpenOffice UNO API
<pre style="display:none;width:600px;">
試算表可以用來做什麼？記帳？計算學生成績？記載員工資料？通訊錄？使用 OpenOffice Calc ，發揮你的創意，激發無限可能。原來 OpenOffice UNO API 也可以這樣用！
What do you do with spreadsheets?  Accounting?  Students' scors?
Employers' information?  Address book?  With OpenOffice Calc, you can do
much, much more.

依瑪貓／楊士青
* OpenOffice 開發管理團隊成員
* OpenOffice 論壇站長
* OOo 補給站站長
* 師大資訊教育研究所碩士班研究生
* 台灣女子自由軟體工作小組
</pre>
        </td>
        <td><a class="popup">Johnson Lin</a>:<br />Game Jam and Open Source
          <pre style="display:none;width:600px;">
在開源社群或廣泛的資訊技術社群中，黑客松（hackathon）這種活動大家應該都耳熟能詳；在遊戲開發上，這種活動被稱為 Game Jam。我相信目前在台灣投入資訊技術領域的朋友，一定有為數不少的人是從「想做遊戲->要學程式」這個原因開始的。這次希望淺談既有的 Game Jam 與 Open Source 的關係、Game Jam 時常用到的技術工具（當中有許多開源產物）、以及目前 Game Jam 在台灣的狀況，希望有更多的機會能促進開源社群的朋友與遊戲開發社群的交流。
內容大綱：
1. How are game jam & open source related at all?
2. The jamming kit(s): programming and stuffs during the jam.
3. Current game jams in Taiwan, and games we've had from the jams.

Johnson Lin
Google+ profile: http://gplus.to/jslin
推動獨立遊戲開發者分享會 http://igdshare.org、IGDA 台灣分會成員之一 http://igda.tw
MIT Game Jam #1 Music Video: http://www.youtube.com/watch?v=dTQm5pytZnY
MIT Game Jam #1 Archive: http://igdshare.org/content/MITGJ_archives
Fukushima Game Jam Archive: http://igdshare.org/content/fgj2012tp_archives
Global Game Jam 2013 + MIT Game Jam #2 Album:
資策會：http://www.facebook.com/media/set/?set=a.415179105216873.90544.193870990681020&type=1
大同大學：http://www.facebook.com/media/set/?set=a.415072955227488.90525.193870990681020&type=1
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">16:00-16:10</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">16:10-16:40</td>
        <td>
          
        <a class="popup">Kenichi</a>:<br />typemap feature in Perl/XS 
<pre style="display:none;width:600px;">
When you write an application that has a significantly heavy part, it's better to use a library written in a low-level language (or maybe an external service) for speed while writing other parts in a language you usually use for ease of maintenance. However, it's not always easy to decide how much you should write in your language, and how much you should write in other language to bridge. This year I'll focus on the typemap feature in Perl/XS and other related stuff I referred to when I wrote yet another Perl interface to groonga, an open-source fulltext
search engine and column store.

Kenichi Ishigaki (aka @charsbar) is a freelance developer and translator from Shibuya.pm, Japan.
</pre>
        </td>
        <td><a class="popup">大貓</a>:<br />那些函數語言Tutorial沒教我的事
<pre style="display:none;width:600px;">
聽說函數語言抽象表述力很強，只要一行就可以實作Quick Sort？
聽說函數語言很適合平行、分散式系統，用了函數語言就不用擔心Race Condition？
近年來函數語言再度受到重視，其特性也融入了許多主流語言之中。網路上也常聽到各種「函數語言適合XXX」的說法，這些說法中是否隱藏了什麼細節？
軟體界沒有萬靈丹，身為一個函數語言愛好者，希望可以深入討論藏在細節下的魔鬼。本講題將探討函數語言常見的若干特性，說明其優點與缺點，在實用方面能解決及不能解決什麼問題。

大貓(aka. @miaout17)，愛寫程式的阿宅，FPUG.TW共同籌辦人。喜歡研究不同類型的程式語言及技術，從低階的C到高階的Python，從imperative到Haskell這類的functional language。曾在遊戲公司寫C++和Lua，目前以Ruby Web Application為生，閒暇時打TopCoder等算法競賽做為娛樂。

Blog: http://blog.miaout17.net
Github: https://github.com/miaout17
Google+: http://goo.gl/Rg2F7
</pre>
        </td>
        <td><a class="popup">老蕭</a>:<br />第一次 setup openstack + lxc 就上手
<pre style="display:none;width:600px;">
cloud computing is the trend, and lxc may be the trend. Openstack has great potential in cloud computing, but the setup is tedious. furthurmore, currently (20/28/2013) there are some typos in the official doc, which may lead to the failure of the setup. I'll share how to setup openstack in your home.
</pre>
</td>
      </tr>
      <tr>
        <td class="time">16:50-17:20</td>
        <td><a class="popup">Mikimoto</a>:<br />2013 年了還在搞輸入法？
<pre style="display:none;width:600px;">
就在 2012 年底，Yahoo!KeyKey 輸入法 open source 了，CHK接手後一路的點點滴滴跟大家分享，也希望大家一起來協助專案，後面我們要作更好玩的事...

講者為 Mobilogics 總工程師，同時也是 MOPCON 發起人、CocoaHeads Kaohsiung Chapter、Code for Kaohsiung 發起人，「Making a difference. One app at a time.」現在正為了下一代致力於改變世界中。
</pre>
        </td>
        <td><a class="popup">OOO</a>:<br />Functional Programming Using Underscore.js
<pre style="display:none;width:600px;">
Underscore.js 是一套由 Jeremy Ashkenas(DocumentCloud) 開發的 JavaScript Library，提供了很多有用的 tool function，像是用來判斷變數是否為陣列的 isArray，用來分散運算的 map 和 reduce，亂數重排的 shuffle，或是可以減少 callback function 執行次數以增加效率的
 throttle 和 debounce 等，都是非常有用，但是 JavaScript 不直接提供的工具，一般使用者會把它當成是 tool function library ，不過大部分人都忽略了 Underscore.js 首頁的第一句話：「Underscore is a utility-belt library for JavaScript that provides a lot of the functional 
 programming support」，Underscore.js 提供的這些工具，其實有很多是從 functional programming language 裡來的，本 Talk 則要從functional JavaScript 為出發點，帶大家看看 Underscore.js 的這些函式到底可以如何使用。

 othree，十年前為了製作個人網頁而自學起 HTML、CSS 和 JavaScript，接著便一頭栽進網路標準的世界，並持續關注網路前端技術的發展，不時在部落格及各活動分享新知，近期關注 HTML5、CSS3、Web API、語意網等議題，被認為專長於 JavaScript，其實最喜歡寫的是漂亮的 HTML Markup，現職為 HTC 前端工程師（F2E）兼博士生。
</pre>
        </td>
        <td>
        <div>
        <a class="popup">obra</a>:<br />Building a keyboard from scratch
<pre style="display:none;width:600px;">
Come learn how to design your own keyboard. We'll talk about everything from open source microcontroller firmware options to the basics of fabrication and soldering. You'll walk away from this talk with everything you need to know to build a keyboard from scratch -- even if you've never touched a soldering iron.

Jesse Vincent is the author of RT and Hiveminder and the founder of Best Practical Solutions, LLC, a company dedicated to open tools to help people and organizations keep track of what needs doing, when it gets done, and who does it. Jesse is also the founder and project lead of K-9 Mail, the leading open source email client for Android. Jesse was the project lead for Perl 5 for the 5.12 and 5.14 release cycles.
</pre>
        </div>

        <div>
        <a class="popup">Tatsuhiko Miyagawa</a>:<br /> What's new in cpanm 1.6
<pre style="display:none;width:600px;">
Tatsuhiko Miyagawa: What's new in cpanm 1.6

cpanm is one of the most popular tools to install CPAN modules. The
new major version of cpanm 1.6 was just released in March, and has
some awesome features to make module installation and deployment much
easier.

Tatsuhiko Miyagawa lives in San Francisco, writes Perl
and Ruby code and loves listening to music, drinking beer and shooting
photos.
</pre>
        </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a name="day2"></a>
  <h3 class="no-margin">4/20 - DAY 2</h3>
  <table class="table table-bordered table-hover" style="background-color: #fff;">
    <thead>
      <tr style="background-color: #333; color: #eee;">
        <th width="12%">時間</th>
        <th width="24%">第一會議室</th>
        <th width="40%">國際會議廳</th>
        <th width="24%">第二會議室</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time">9:20-10:00</td>
        <td colspan="3" class="center">breakfast</td>
      </tr>
      <tr>
        <td class="time">10:00-10:30</td>
        <td colspan="3" class="center"><a class="popup">Paul Rouget</a>:<br />Future of JavaScript

<pre style="display:none;width:600px;">
Paul Rouget: Future of JavaScript

Performance. Syntax. Parallelism. APIs. JavaScript is evolving. In this talk I'll cover the different projects Mozilla is working on to bring JavaScript to a new level: ASM.js, Emscripten, ES6, WebAPIs, and more.

Paul Rouget is a Firefox engineer and a technology evangelist at Mozilla. He is instrumental in combining the latest and greatest open Web technologies. His goal is to push the boundaries of the Web and ensure that it continues to develop into an open and accessible platform for all. Paul works closely with the platform team at Mozilla to explore how new technologies can continue to improve Firefox. He has been involved with the Mozilla project since 2003 both as a volunteer and as staff.
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">10:30-10:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">10:40-11:10</td>
        <td><a class="popup">Richard lee</a>:<br />Using CocoaPods for Objective-C Library Management.
<pre style="display:none;width:600px;">
CocoaPods is the best way to manage library dependencies in Objective-C projects.
It resolves dependencies between libraries, fetches source code for the dependencies, and creates and maintains an Xcode workspace to build your project.
Moreover, it actually improves discoverability of, and engagement in, third party open-source libraries, by creating a more centralized ecosystem.

Richard Lee is the Co-founder of iCook & Polydice, and works on both web, and mobile development.
Beside the startup, he contributes to open source projects including Three20, ShareKit, ViewDeck and many others, and maintains several specs / formulas of CocoaPods and homebrew.
You can find him on Twitter or GitHub.
</pre>
        </td>
        <td><a class="popup">Fred</a>:<br />Node.js 進攻桌面開發！用 HTML5 開發跨平台的單機版應用程式！
<pre style="display:none;width:600px;">
最潮的 Node.js 又來了！JavaScript 過去征服了 Server，這次將進攻跨平台桌面！誰說開發桌面程式一定要學 C/C++/C#/Object C？這次，JavaScript + HTML5 才是主角！
獨立運作的單機版 JavaScript + HTML5 程式，不再是夢！ node-webkit 專案實現了 Web 開發者們的夢想，直接嵌入 Node.js 進 Webkit （Chrome/Chromium 瀏覽器核心），讓 Web 開發者完全可以使用熟悉的 HTML5 和 WebGL 開發圖形介面，並同時利用 Node.js 和其數不清的第三方模組，去存取檔案、資料庫以及執行更多低階操作。更重要的是，開發完成的結果，有如原生的桌面應用程式一般，無論在 Linux、Windows 還是 Mac 作業系統，都可以運行良好。

目前是 Mandice 的 CEO，自 2012 年於全球直播的國際舞台上發表退學宣言後，已經不是淡江大學學生。曾經沉迷打工於國內外企業中，也是一個自由軟體開發者，專注於嵌入式裝置、伺服器技術、網站應用程式以及桌面環境等領域，閒暇時也研究 Linux 核心、驅動程式或作業系統相關技術。熱愛自由軟體，尤其喜歡貢獻個人經驗，時而發表並公開他的開發經驗在網站上。
Blog: http://fred-zone.blogspot.com/
</pre>
        </td>
        <td><a class="popup">ingy</a>:<br />Acmeism - Hacking in all Languages at Once
<pre style="display:none;width:600px;">
The real strength of a modern programming language is its collection of
maintained packages: RubyGems, CPAN, PyPI, NPM, PECL. A good idea for
programming needs to be gifted to everyone: Ruby Perl Python JavaScript PHP
Java etc.  Ingy döt Net will show you how he has been hacking and pushing his
code (and doc and tests) to all these places at once. Ingy (the YAML guy) calls
this style of Openness: Acmeism.

Acmeism is the idea that the creators of good ideas take them past the
formidable boundaries of their mother tongue. In programming this means that a
great idea published as a Ruby Gem will (with perhaps a dash or two of added
abstraction) serve the Node and Python communities equally well.

Ingy (who helped create YAML, the serialization format for all languages) has
published packages in most of the “O’Reilly Languages” and is working on a
toolchain so that he can Hack Once, Push Everywhere (HOPE). This talk is about
those tools and some of the first-fruit packages.

These Acmeist tools and packages will be covered:

* UniScript – CoffeeScript-esque syntax that compiles to many langs
* Pegex – The easiest way to create/parse new languages/DSLs
* TestML – Define a test suite that runs in every language
* StarDoc – Acmeist documentation framework
* Package – Automated Acmeist packaging and contribution
* JSONY – A relaxed JSON that was created using Acmeist tools

Ingy döt Net is a h♨cker who started out programming IBM Assembler on
punchcards, switched over to Perl and has since become enlightened to the
goodness of all the OSDC languages and the people who h♨ck, suppo☈t and l♥ve them. He is one of the creators of YAML, a CPAN/PyPI/NPM/RubyGems contributor,
the Father of Acmeism and is drinking a double Americano as you read this.

Ingy is a citizen of the Earth who currently lives in Seattle. He loves to make things DRY.
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">11:10-11:20</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">11:20-11:50</td>
        <td><a class="popup">ihower</a>:<br />A brief introduction to Vagrant - 原來 VirtualBox 可以這樣玩
<pre style="display:none;width:600px;">
這是一個 Virtual Machine 的雲端時代，各種 VPS、AWS EC2、Windows Azure、Google App Engine, Heroku 等等。虛擬化讓我們很容易佈署及設定網站伺服器環境。
Vagrant http://www.vagrantup.com/ 是一個方便在本地端操縱 VirtualBox VM 的工具，它將虛擬化的好處帶入整個網站開發過程，方便測試伺服器安裝和設定步驟，並提供團隊一致的開發和測試環境。
它更是學習和測試 Puppet 或 Chef 等配置管理(configuration management)工具不可或缺的好物。本議程將介紹這套工具和應用情境，以及它所帶來的好處。

ihower, a software developer in building web services, CTO at Faria Systems http://faria.co and the organizer of RubyConf Taiwan http://rubyconf.tw 
I blog at http://ihower.tw/blog and tweet at http://twitter.com/ihower
</pre>
        </td>
        <td><a class="popup">Mindos</a>:<br />LiveScript 漂浮冰珈琲
<pre style="display:none;width:600px;">
C++ 剛推出的時候，口號是 ”a better C”，那麼我們可以說 LiveScript 是 a better JavaScript。
不過，有趣的是，LiveScript 的 compiler 是用 LiveScript 寫的。讓我們來看看 LiveScript 如何舉起自己。
As a "better JavaScript," LiveScript enhances the good part of JavaScript. Interesting enough, LiveScript compiler is written in LiveScript itself.  Thus, by hacking LiveScript compiler, we get better insight of both language.  Let's see it do the heavy lifting. 

從小喜歡閱讀與寫作，讀得多但寫得少。寫程式也是這樣，不是個好習慣。演算法實驗室畢業，喜歡演算法、圖學與萬事萬物。常用 Perl,  C/C++，喜歡有趣的語言。
</pre>
        </td>
        <td><a class="popup">gugod</a>:<br />ElasticSearch 實戰介紹
<pre style="display:none;width:600px;">
開源的全文捜尋引擎五花八門，而 ElasticSerach 則是獨樹一格、引領風騷。不單以 NoSQL 風格界面御繁於簡，方便開發；在營運所需的各項數據報告更是一應俱全。
除了系統與功能的介紹以外，本人將分享實際使用的經驗，助大家更容易了解此項開源產品的面貌。

gugod，本名劉康民，在 Booking.com 擔任軟體開發，亦時常時自由軟體愛好者。
維護若干 CPAN 模組與 rubygems，一段時間沒寫 Javascript。著迷於設計出方便而簡單的軟體工具。
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">11:50-14:00</td>
        <td colspan="3" class="center">lunch</td>
      </tr>
      <tr>
        <td class="time">14:00-14:30</td>
        <td colspan="3" class="center"><a class="popup">Audrey</a>:<br />[PgREST – Node.js in Database]
<pre style="display:none;width:600px;">
In this session, we'll introduce PgREST: 
… a JSON document store
… running inside PostgreSQL
… working with existing relational data
… capable of loading Node.js modules
… compatible with MongoLab's REST API.
We'll also discuss its underlying components: LiveScript, OneJS, plv8 & plv8x.

A self-educated programmer and translator based in Taiwan, Audrey currently works at Socialtext with the job title "Untitled Page", as well as at Apple on localization and release engineering.
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">14:30-14:40</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">14:40-15:10</td>
        <td colspan="3" class="center"><a class="popup">Kirby</a>:<br />g0v 黑客松 - 寫程式改造社會
<pre style="display:none;width:600px;">
政府為人民所組成，理應成為人民的一部分，由人民所主導。隨著時代的演進，資訊網路的發達，百年前的民主代議制度應成為古董。
決議政策、訂立法案、監督公僕...在 21 世紀的現代應該由更直接且透明的方式來達成；為達到這個目的，資訊的開放將和源碼的開放一樣重要。
開放給予任何人使用資料的機會，社群則提供多樣化的資訊應用及分析。藉由 open source 與社群的力量，我們試圖開啟開放資訊的大門，並將我們的代號命為 g0v.tw - 零時政府。
讓我們透過寫程式來改造社會。

Kirby Wu / tkirby 
現任職於聯發科技，為 g0v.tw 發起人之一。在 web 2.0 發生以前熱衷於開發 javascript library，最近則在玩 livescript，nodejs 與 d3js。愛好登山與攝影活動，個人網站 http://tkirby.org/blog/
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">15:10-15:30</td>
        <td colspan="3" class="center">tea time</td>
      </tr>
      <tr>
        <td class="time">15:30-16:00</td>
        <td colspan="3" class="center"><a class="popup">Jserv</a>:<br />完全用開放原始碼軟體進行嵌入式系統教學
<pre style="display:none;width:600px;">
二十餘年前，台灣的電腦產業大老施振榮先生喊出「科技島」的口號，在一定程度上激勵不少學子，於畢業後投入資訊科技產業，造就了多元的發展。然而，大專院校的資訊教育本該培養學生獨立思考，卻因沒有充分規劃，為數可觀的實作課程往往淪為特定商業軟體的教育訓練。為了避免國家教育資源淪為單一廠商的行銷工具，講者嘗試在國立成功大學資訊工程研究所中，大幅引進自由軟體或開放原始碼軟體，作為嵌入式系統課程的教具，不僅可自網際網路合法又免費取得，而在技術層面更較眾多版權私有的軟體有極大優勢，也就是學生能洞悉底層技術的原理，並透過豐富的開發社群而強化學習。
本議程將分享 2012 年秋季班授課經驗，並以實際的實驗證明，多數的同學就算是首次接觸 GNU/Linux、GNU Toolchain、QEMU、Git、FreeRTOS、OpenOCD 等等廣泛使用的開放原始碼軟體，還是能在短暫的時間內學習到嵌入式開發的概念並參與實習。原本要向廠商購買所費不貲的軟體授權費用，則全數回饋給學生，使其可購買電子零件，進而動手實作出一系列電子半成品。

Jim Huang (黃敬群)，慣用網路暱稱為 "jserv"，熱血工讀生，目前是國立成功大學資訊工程系的兼任教師。自 1999 年開始投入 open source 開發，涉及手機、GPS 導航、數位電視、電子廣告系統、機器人等嵌入式系統設計。
web: http://about.me/jserv
</pre>
        </td>
      </tr>
      <tr>
        <td class="time">16:00-16:10</td>
        <td colspan="3" class="center">-</td>
      </tr>
      <tr>
        <td class="time">16:10-17:00</td>
        <td colspan="3" class="center">lightning talks</td>
      </tr>
    </tbody>
  </table>
  <div style="text-align:right; margin-right: 60px;">（議程更動以主辦單位公布為主）</div>
</div>
