---
title: Sponsors
---

#sponsors.page
	%h2
		Sponsors
	= partial(:sponsor, :locals => {:rank => 'hacker'})
	= partial(:sponsor, :locals => {:rank => 'geek'})
	= partial(:sponsor, :locals => {:rank => 'guru'})