<div class="center-block">
    <h2>贊助廠商</h2>
    <div class="clear"></div>
    <div class="divider margin-20"></div>    

    <h2>Hacker</h2> 
    <ul id="portfolio">

        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://tw.yahoo.com/"><img src="http://osdc.4point-inc.com/assets/img/sponsors/yahoo.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://tw.yahoo.com/"><h4>Yahoo!奇摩</h4></a>
                    </div> 
                    <p>
                        Yahoo!奇摩自2001年2月由Yahoo!與奇摩兩大網站正式合併營運之後，即成為國內居領導地位之入口網站，並不斷致力於為廣大網友及企業客戶，提供豐富與多元化的服務與交流平台。</p>
                    <p>
                        Yahoo!奇摩提供優質且多元的網路內容與服務，並創造在地化、好用且生活化的網路使用環境。Yahoo!奇摩也為企業提供各種網路服務，協助大型、中小型、微型企業、甚至傳統產業客戶，提升 其企業知名度與網路服務，例如完整服務的在地化關鍵字廣告、各式互動廣告、虛擬商店、線上交易服務、企業入口網站整體解決方案等。</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.pixnet.net/"><img src="http://osdc.4point-inc.com/assets/img/sponsors/pixnet.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.pixnet.net/"><h4>痞客邦</h4></a>
                    </div> 
                    <p>
                        「PIXNET痞客邦」(<a href="http://www.pixnet.net">www.pixnet.net</a>) 為國內最受歡迎前5大部落格網站之一。提供網友線上相簿、網誌、影音服務等功能。營運目標是在既有基礎下提升現行個人相簿與網誌服務，提供網友享有更佳的創作與社群交流平台。是目前國內Web 2.0應用服務的佼佼者，可提供網友更完整的服務。</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.etusolution.com"><img src="http://osdc.4point-inc.com/assets/img/sponsors/etu.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.etusolution.com"><h4>Etu</h4></a>
                    </div> 
                    <div>
                        Etu is a Big Data pioneer in providing Big Data solutions that</div>
                    <div>
                        are primarily concerned with how customers to discover, capture and</div>
                    <div>
                        connect the valuable information hidden in the extremely large data</div>
                    <div>
                        sets with simple steps. At Etu, our mission is to develop Big Data Killer</div>
                    <div>
                        Solutions with Appliances, centered on business development in Taipei</div>
                    <div>
                        and Beijing. Utilizing the Hadoop-related technologies, working closely</div>
                    <div>
                        with all Hadoop distribution and third party tool vendors , our Big Data</div>
                    <div>
                        business is dedicated to providing end-to-end solutions for customers</div>
                    <div>
                        to effectively harness the challenges of large sets of data. With our</div>
                    <div>
                        professionalism and expertise, our core competency in Big Data is to</div>
                    <div>
                        address specific business problems for customers from a diverse set of</div>
                    <div>
                        industries.</div>
                    <div>
                        <p class="p1">
                            To find out more, please visit <span class="s1"><a href="http://www.etusolution.com/">www.etusolution.com</a></span></p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="divider margin-20"></div>



    <h2>Guru</h2> 
    <ul id="portfolio">        

        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.godgame.com.tw/"><img src="http://osdc.4point-inc.com/assets/img/sponsors/godgame.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.godgame.com.tw/"><h4>神來也</h4></a>
                    </div> 
                    <p>
                        神來也</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.openfoundry.org/"><img src="http://osdc.4point-inc.com/assets/img/sponsors/ossf.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.openfoundry.org/"><h4>自由軟體鑄造場</h4></a>
                    </div> 
                    <p>
                        自由軟體鑄造場(Open Source Software Foundry，簡稱 OSSF)，重點任務為培植本土自由軟體社群與人才，實際工作有：</p>
                    <div>
                        (一)推廣自由軟體概念</div>
                    <div>
                        (二)集結國內自由軟體社群</div>
                    <div>
                        (三)促進臺灣人才培育與產業合作</div>
                    <div>
                        (四)與國際趨勢交流接軌</div>
                    <div>
                        OSSF 計畫透過 OpenFoundry 平台，提供使用者從事自由軟體專案開發時，所需要的重要工具與服務。</div>
                    <div>
                        提供五大服務</div>
                    <div>
                        1. 匯集自由軟體領域的專業資源目錄</div>
                    <div>
                        2. 發行自由軟體鑄造場電子報</div>
                    <div>
                        3. 舉辦各類自由軟體活動及工作坊</div>
                    <div>
                        4. 從事校園推廣及提供自由軟體相關教材影片</div>
                    <div>
                        5. 提供法律政策諮詢與服務</div>
                    <div style="margin-bottom: 10px;">
                    </div>
                    <div>
                        Open Source Software Foundry(OSSF) established OpenFoundry to help developers maintain and release their open source software products.</div>
                    <div>
                        OpenFoundry provides other key services to help users with the development of open source software. The services include compiling and maintaining a resource catalog, publishing a bi-weekly newsletter, hosting various Open Source workshops, visiting universities and schools to promote open source software, and providing users with legal and licensing advice.</div>
                    <div>
                        1. Resource Catalog</div>
                    <div>
                        2. OSSF Newsletters</div>
                    <div>
                        3. Open Source Workshops</div>
                    <div>
                        4. Promoting Open Source Software in Universities and Schools</div>
                    <div>
                        5. Legal and Licensing Consultations</div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>


</div>
