<div class="center-block">
    <h2>贊助廠商</h2>
    <div class="clear"></div>
    <div class="divider margin-20"></div>    

    <h2>Hacker</h2> 
    <ul id="portfolio">

        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://tw.yahoo.com/"><img src="http://osdc.tw/assets/img/sponsors/yahoo.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://tw.yahoo.com/"><h4>Yahoo!奇摩</h4></a>
                    </div> 
                    <p>
                        Yahoo!奇摩自2001年2月由Yahoo!與奇摩兩大網站正式合併營運之後，即成為國內居領導地位之入口網站，並不斷致力於為廣大網友及企業客戶，提供豐富與多元化的服務與交流平台。</p>
                    <p>
                        Yahoo!奇摩提供優質且多元的網路內容與服務，並創造在地化、好用且生活化的網路使用環境。Yahoo!奇摩也為企業提供各種網路服務，協助大型、中小型、微型企業、甚至傳統產業客戶，提升 其企業知名度與網路服務，例如完整服務的在地化關鍵字廣告、各式互動廣告、虛擬商店、線上交易服務、企業入口網站整體解決方案等。</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.pixnet.net/"><img src="http://osdc.tw/assets/img/sponsors/pixnet.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.pixnet.net/"><h4>痞客邦</h4></a>
                    </div> 
                    <p>
                        「痞客邦 PIXNET」(www.pixnet.net) 為台灣最受歡迎網站之一，提供網友線上相簿、部落格、影音服務等功能。2003年以提供「網路免費相簿空間」開始，逐步拓展到「部落格平台」以及「個人化社群媒體」服務。站內豐富的創作力與廣大社群基礎將痞客邦推向台灣本土第一的「社群媒體」。2011年起，痞客邦更投入行動載具的服務開發，永遠堅持讓使用者體驗「零時差、無底限、個人化」的社群分享！
                    </p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.etusolution.com"><img src="http://osdc.tw/assets/img/sponsors/etu.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.etusolution.com"><h4>Etu</h4></a>
                    </div> 
                    <div>
                        Etu is a Big Data pioneer in providing Big Data solutions that</div>
                    <div>
                        are primarily concerned with how customers to discover, capture and</div>
                    <div>
                        connect the valuable information hidden in the extremely large data</div>
                    <div>
                        sets with simple steps. At Etu, our mission is to develop Big Data Killer</div>
                    <div>
                        Solutions with Appliances, centered on business development in Taipei</div>
                    <div>
                        and Beijing. Utilizing the Hadoop-related technologies, working closely</div>
                    <div>
                        with all Hadoop distribution and third party tool vendors , our Big Data</div>
                    <div>
                        business is dedicated to providing end-to-end solutions for customers</div>
                    <div>
                        to effectively harness the challenges of large sets of data. With our</div>
                    <div>
                        professionalism and expertise, our core competency in Big Data is to</div>
                    <div>
                        address specific business problems for customers from a diverse set of</div>
                    <div>
                        industries.</div>
                    <div>
                        <p class="p1">
                            To find out more, please visit <span class="s1"><a href="http://www.etusolution.com/">www.etusolution.com</a></span></p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
          <div class="portfolio-item">
            <div class="company_left">
              <a href="http://tw.kkbox.com/index.html"><img src="http://osdc.tw/assets/img/sponsors/kkbox.png"></a>
            </div>
            <div class="company_right">
              <div class="company_name">
                <a href="http://tw.kkbox.com/index.html"><h4>KKBOX</h4></a>
              </div>
              <p>
                KKBOX是由一群熱愛技術及音樂的 工程師聯手創立的品牌，以獨創的雲端技術提供音樂串流服務，讓使用者只需透過網路即可播放儲存在雲端的歌曲，並以技術加密媒體檔 （Digital Rights Management，DRM），成功地為線上音樂和智慧財產權之間取得完美的平衡與保護，更打開了線上音樂合法授權的版權智慧觀念，在亞洲市場首度以此 商業模式成為標竿品牌。至今，KKBOX擁有超過一千萬首曲目，獲得超過500家唱片公司的合法授權，堪稱全球最大的華語音樂曲庫， 服務地區包括台灣、香港、新加坡以及馬來西亞。KKBOX的服務在電腦、智慧型手機或其他行動裝置上都能使用；不只能線上聽音樂，還 能下載到電腦或手機中離線收聽，給消費者一個方便自由、沒有界限的音樂世界！
              </p>
              <p>
                KKBOX致力打造一個不受時空限制、 讓人們輕鬆享受聽音樂、並與同好分享樂趣的平台。除了提供藝人專訪、演唱會現場報導、娛樂新聞、樂評等豐富完整的編輯內 容，KKBOX「一起聽」也讓你可以跟著朋友、歌手、名人一起聽同一首歌曲，並與對方即時聊天，讓聽音樂變得更互動、更有趣。此 外，KKBOX在2011年推出了「KKBOX音樂誌」月刊，期望透過不同的媒體將音樂推向更廣大的市場。而每年年初所舉辦的 「KKBOX數位音樂風雲榜」頒獎典禮，因擁有廣大的民意基礎及公信力，更樹立了KKBOX在華語歌壇中的指標性地位。
              </p>
              <p>
                在台灣站穩腳步後，KKBOX於 2009年底進軍香港市場，在會員及營收成長上獲佳績。2010年底，KKBOX正式納入日本第二大電信廠商KDDI，成為旗下子公 司；2011年3月，手機設計及製造大廠HTC也宣佈投資KKBOX。憑藉著領先的技術與合作夥伴，未來，KKBOX更將前進日本、 東南亞及其他海外市場，將台灣線上音樂品牌帶到世界各地。
              </p>
            </div>
          </div>
          <div class="clear"></div>
        </li>
    </ul>
    <div class="clear"></div>
    <div class="divider margin-20"></div>



    <h2>Guru</h2> 
    <ul id="portfolio">        

        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.godgame.com.tw/"><img src="http://osdc.tw/assets/img/sponsors/godgame.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.godgame.com.tw/"><h4>神來也</h4></a>
                    </div> 
                    <p>
                        神來也</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.archilife.org"><img src="http://osdc.tw/assets/img/sponsors/archilife.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.archilife.org"><h4>祐生研究基金會</h4></a>
                    </div> 
                    <p>
                        本會長期獎助建築環境、資訊社會與文化等未來趨勢研究。目前在資訊與數位內容領域，有針對國內獨立遊戲開發者社群，推動相關聚會與競賽贊助活動，並將參訪國際遊戲開發論壇之研習心得分享之，促進國內的獨立開發者互相交流，期能幫助社群發展。</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="divider_line margin-20"></div>
        </li>
        <li>
            <div class="portfolio-item">
                <div class="company_left">
                    <a href="http://www.acomotech.com/"><img src="http://osdc.tw/assets/img/sponsors/acomotech.png"></a>
                </div>
                <div class="company_right">
                    <div class="company_name">
                        <a href="http://www.acomotech.com/"><h4>杏昕科技股份有限公司</h4></a>
                    </div> 
                    <p>
                      杏昕科技股份有限公司主要為醫療器材設計服務。
                      2013連續獲得德國iF設計獎以及德國紅點（red dot）設計獎-『輕鬆使用，完整照護』是AcoMo Tech. 研發團隊致力達到的設計目標。而開發一系列標誌著『台灣製造MIT』的優質精品，更是研發團隊從『心』稟持的初衷。產品範圍將涵括 嬰幼兒照護所需的各個面向，以高質量的電子設計研發實力為基礎，讓新生兒父母能輕鬆的使用AcoMo Tech. 所開發的種種人性化精品，在繁瑣的家務活動中，仍能周密地給予每一個寶貴的幼小生命24小時365天的零距離照護。
                    </p>
                </div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>

    <div class="clear"></div>
    <div class="divider margin-20"></div>    
    <h2>Special Thanks</h2> 
    <div class="sp_thanks">
        <a href="http://web1.nsc.gov.tw/"><img src="http://osdc.tw/assets/img/sponsors/nsc.png"></a>
        <a href="http://www.citi.sinica.edu.tw/"><img src="http://osdc.tw/assets/img/sponsors/citi.png"></a>
        <a href="http://www.openfoundry.org/"><img src="http://osdc.tw/assets/img/sponsors/ossf.png"></a>
    </div>
</div>
